html {
	font-size: 16px;
}

.top, .bottom {
	background-color: #fff;
	width: 100%;
	position: absolute;
}

.top {
	top: 0;
	left: 0;
}

.bottom {
	bottom: 0;
	left: 0;
}

.input-color-value {
	border: none;
	width: 3ch;
	text-align: right;
}

.input-color-value,
.demo {
	font-family: "Fira Mono", monospace;
	font-size: 1rem;
}