html {
	font-size: 16px;
}

.output {
	width: 200px;
	height: 200px;
	border: 1px solid black;
}

.input-color-value {
	border: none;
	width: 4ch;
	text-align: right;
}

.input-color-value,
.demo {
	font-family: "Fira Mono", monospace;
	font-size: 1rem;
}